{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-10">
            <h1>Àlbums</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>genere</th>
                    <th>year</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for albums in album %}
                    <tr>
                        <td>{{ album.id }}</td>
                        <td>{{ album.title }}</td>
                        <td>{{ album.genere }}</td>
                        <td>{{ album.year }}</td>
                        <td>
                            <a href="{{ path('app_albums_update', {id: albums.id}) }}">Actualitzar</a>
                            <a href="{{ path('app_albums_delete', {id: albums.id}) }}">Esborrar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                <hr>
                <p>
                    <a href="{{ path('app_albums_create') }}">+ Crear un àlbum nou</a>
                </p>

        </div>
    </div>
{% endblock %}